<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SNAPSTORE</title>
  <link rel="stylesheet" href="css\website.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body id="grad">

  <header class="header">
    <a href="/" ><p class="brand">SNAPSTORE</p></a>
    <nav class="links">
      <a href="about"><img src="/images/about.png" width="45px" height="45px"></a>
      <a href="contact"><img src="/images/contact.png" width="40px" height="40px" ></a>


<div class="dropdown">
      <img src="/images/user.png" width="30px" height="40px" class="user-icon">
      <div class="dropdown-content">
        <a href="user">Profile</a>
        <a href="user#order-history">Orders</a>
      </div>


</div>
      
      <a href="cart"> <img src="/images/cart.png" width="30px" height="30px"><span class="cart-count"><%= cartCount %></span></a>
      
      
      
    </nav>
  </header>

  <h2 class="tagline">Happiness is not in money, but in shopping.</h2>

  <div class="category">
    <p>Shop By Category</p>
     <nav class="links">
      <a href="/category/1">Electronics</a>
      <a href="/category/2">Fashion</a>
      <a href="/category/3">Books</a>
      <a href="/category/4">Decor</a>
    </nav>

  </div>
<br>
<br>
  <div class="product"  id="product-list">
    <% result.forEach(function(item) { %>
    <div class="pro">
      
      
      <a href="/details/<%= item.id %>"><h4><%= item.name %></h4><img src="images/<%= item.imgpath %>" alt="<%= item.name %>">
      <p class="shortdes"><%=item.shortdes %></p>
      <p><b><%= formatCurrency(item.price) %></b></p>
</a>
    </div>
    <% }) %>

  </div>
  
    <img src="/images/loading.gif" alt="" class="loading" > 


 <%- include('footer') %>
<script>
let offset = <%= result.length %>;
const limit = 4;
let loading = false;
loading_img = document.querySelector('.loading');

function loadMoreProducts() {
  loading = true;
  fetch(`/load-products?offset=${offset}&limit=${limit}`)
    .then(res => res.json())
    .then(data => {
      const container = document.getElementById("product-list");

      data.forEach(item => {
        const div = document.createElement("div");
        div.className = "pro";
        div.innerHTML = `
          <a href="/details/${item.id}">
            <h4>${item.name}</h4>
            <img src="images/${item.imgpath}" alt="${item.name}">
            <p class="shortdes">${item.shortdes}</p>
            <p><b>₹${item.price}</b></p>
          </a>
        `;
        container.appendChild(div);
      });

      offset += data.length;
      loading = false;

      if (data.length < limit) {
        window.removeEventListener('scroll', handleScroll);
    
        
      }
       loading_img.classList.remove('show');
    });
}

function handleScroll() {
  if (window.innerHeight + window.scrollY >= document.body.offsetHeight-100 ) {
   if (loading) return;
   loading = true;
    loading_img.classList.add('show');
    setTimeout(loadMoreProducts, 1000);
      // loadMoreProducts();
  }
  else {
    loading_img.classList.remove('show');
  }

}

window.addEventListener('scroll', handleScroll);
</script>


</body>
</html>
